<section id="info" class="bg-orange-100">
  <div class="container py-12 text-center sm:py-20 lg:py-20">
    <div
      class="mx-auto grid max-w-5xl grid-cols-1 justify-items-center gap-8 sm:grid-cols-2 xl:grid-cols-3"
    >
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold">יחס אישי</span>
        <p class="text-balance text-sm sm:text-base">
          אצלי התלמיד הוא מעל הכל! יחס אישי, סבלנות, מקצועיות ואמינות לאורך כל
          הדרך.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold"> אחוזי הצלחה</span>
        <p class="max-w-sm text-balance text-sm sm:text-base">
          עשרות תלמידים מרוצים והצלחה גבוהה בטסט ראשון.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold">אמינות ומקצועיות</span>
        <p class="max-w-sm text-balance text-sm sm:text-base">
          זמינות גבוהה לשיעורים ומחירים הוגנים.
        </p>
      </div>
    </div>
  </div>
</section>
