---
import { ArrowUpRight, HandHeart, User } from 'lucide-react'
---

<section id="info" class="bg-orange-100">
  <div class="container flex flex-col items-center py-12 sm:py-20 lg:py-20">
    <h2 class="mb-16 text-3xl font-bold md:text-4xl lg:text-5xl">מאפיינים</h2>

    <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 xl:grid-cols-3">
      <div class="flex flex-col space-y-2">
        <HandHeart className="mb-2 size-6" />
        <span class="text-xl font-bold">יחס אישי</span>
        <p class="text-balance text-sm sm:text-base">
          אצלי התלמיד הוא מעל הכל! יחס אישי, סבלנות, מקצועיות ואמינות לאורך כל
          הדרך.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <ArrowUpRight className="mb-2 size-6" />
        <span class="text-xl font-bold"> אחוזי הצלחה</span>
        <p class="max-w-sm text-balance text-sm sm:text-base">
          הצלחה גבוהה בטסט ראשון.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <User className="mb-2 size-6" />
        <span class="text-xl font-bold">אמינות ומקצועיות</span>
        <p class="max-w-sm text-balance text-sm sm:text-base">הסבר קצר</p>
      </div>
    </div>
  </div>
</section>
