<section id="info" class="w-full bg-orange-100 dark:bg-inherit">
  <div class="container py-12 sm:py-20 lg:py-20">
    <div
      class="mx-auto flex max-w-5xl flex-col items-center justify-center gap-8 text-center md:flex-row"
    >
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold"> תיאוריה</span>
        <p class="text-balance text-sm sm:text-base">
          שיעורים באוירה נינוחה וצעירה שמותאמת לכל אחד ואחת.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold"> נהיגה </span>
        <p class="max-w-sm text-balance text-sm sm:text-base">
          לימוד נהיגה ברמה אחרת, באופן מקצועי ללא פשרות ובשיטת לימוד ייחודית.
        </p>
      </div>
      <div class="flex flex-col space-y-2">
        <span class="text-xl font-bold"> רישיון</span>
        <p class="max-w-sm text-balance text-sm sm:text-base">
          המרת רישיון זר לישראלי, ריענון נהיגה, המרת רישיון אוטומטי לגיר ידני.
        </p>
      </div>
    </div>
  </div>
</section>
