---
import { Button } from '@/components/ui/button'
import { Image } from 'astro:assets'
---

<section id="hero" class="container py-12 sm:py-20 lg:py-20">
  <div class="flex flex-col items-center justify-around space-y-10 md:flex-row">
    <div class="flex flex-col space-y-5 md:space-y-10">
      <div class="space-y-5">
        <h1 class="text-4xl font-bold md:text-5xl lg:text-6xl">
          הדרך שלי -
          <span class="text-gradient block font-spray font-thin"
            >ההצלחה שלך !</span
          >
        </h1>
        <p
          class="max-w-lg text-balance text-sm text-muted-foreground md:text-base"
        >
          לימוד נהיגה ברמה אחרת, באופן מקצועי ללא פשרות ובשיטת לימוד ייחודית.
          שיעורים באוירה נינוחה וצעירה שמותאמת לכל אחד ואחת.
        </p>
      </div>

      <a href="/get-started">
        <Button size="lg">צעדים</Button>
      </a>
    </div>
    <div class="relative">
      <Image
        src="/hero-arrow.svg"
        width="175"
        height="175"
        alt="hero-arrow"
        class="absolute -right-24 -top-8 hidden lg:block"
      />

      <Image
        src="/hero.png"
        loading="lazy"
        width="500"
        height="375"
        alt="hero image"
        class="rounded-lg"
      />
    </div>
  </div>
</section>
