---
import { Button } from '../ui/button'
---

<section id="contact" class="container bg-muted py-24 pt-10 sm:py-32 lg:py-16">
  <div class="flex flex-col items-center justify-center gap-16">
    <span
      class="text-xl font-bold uppercase text-primary md:text-2xl lg:text-4xl"
      >צרו קשר עכשיו...</span
    >
    <Button className="px-10 py-6">צרו קשר</Button>
  </div>
</section>
