---
import { Image } from 'astro:assets'
---

<div class="pb-16">
  <div class="hidden justify-center sm:flex">
    <div class="container xl:max-w-[80rem]">
      <div class="grid grid-cols-4 items-center gap-6">
        {/* First Column */}
        <div class="space-y-4 md:space-y-6">
          <Image
            class="h-full w-auto overflow-hidden rounded-xl object-cover"
            src="/images/gallery/image.png"
            alt="gallery"
            width={800}
            height={1226}
            loading="lazy"
          />
          <Image
            class="h-52 rounded-xl object-cover"
            src="/images/gallery/image1.png"
            alt="gallery"
            width={800}
            height={1334}
            loading="lazy"
          />
        </div>

        {/* Second Column */}
        <div class="space-y-4 md:space-y-6">
          <div class="h-48 overflow-hidden rounded-xl">
            <Image
              class="h-full w-full object-cover"
              src="/images/gallery/image2.png"
              alt="gallery"
              width={800}
              height={983}
              loading="lazy"
            />
          </div>
          <Image
            class="rounded-xl"
            src="/images/gallery/image3.png"
            alt="gallery"
            width={800}
            height={1108}
            loading="lazy"
          />
          <div class="relative h-48 overflow-hidden rounded-xl">
            <Image
              class="h-full w-full object-cover"
              src="/images/gallery/image9.png"
              alt="gallery"
              width={1260}
              height={750}
            />
          </div>
        </div>

        {/* Third Column */}
        <div class="space-y-4 md:space-y-6">
          <div class="h-56 overflow-hidden rounded-xl">
            <Image
              class="h-full w-full object-cover"
              src="/images/gallery/image5.png"
              alt="gallery"
              width={800}
              height={1334}
              loading="lazy"
            />
          </div>
          <div class="h-80 w-full overflow-hidden rounded-xl xl:h-[28rem]">
            <Image
              class="h-full w-full object-cover"
              src="/images/gallery/image6.png"
              alt="gallery"
              width={801}
              height={2477}
            />
          </div>
        </div>

        {/* Fourth Column */}
        <div class="space-y-4 md:space-y-6">
          <Image
            src="/images/gallery/image7.png"
            alt="gallery"
            width={800}
            height={900}
            class="rounded-xl"
          />
          <Image
            src="/images/gallery/image8.png"
            alt="gallery"
            width={800}
            height={900}
            class="rounded-xl"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container flex flex-col items-center gap-6 sm:hidden">
    <Image
      class="h-64 rounded-xl object-cover"
      src="/images/gallery/image.png"
      alt="logo"
      width={800}
      height={1226}
      loading="lazy"
    />
    <Image
      class="h-52 rounded-xl object-cover"
      src="/images/gallery/image1.png"
      alt="gallery"
      width={800}
      height={1334}
    />
    <Image
      class="h-48 rounded-xl object-cover"
      src="/images/gallery/image2.png"
      alt="gallery"
      width={800}
      height={983}
      loading="lazy"
    />
    <Image
      class="rounded-xl"
      src="/images/gallery/image3.png"
      alt="gallery"
      width={800}
      height={1108}
      loading="lazy"
    />
    <Image
      class="h-56 rounded-xl object-cover"
      src="/images/gallery/image9.png"
      alt="gallery"
      width={1260}
      height={750}
    />
    <Image
      class="h-42 rounded-xl object-cover"
      src="/images/gallery/image5.png"
      alt="gallery"
      width={800}
      height={1334}
      loading="lazy"
    />
    <Image
      src="/images/gallery/image7.png"
      alt="gallery"
      width={800}
      height={900}
      class="rounded-xl"
    />
    <Image
      src="/images/gallery/image8.png"
      alt="gallery"
      width={800}
      height={900}
      class="rounded-xl"
    />
  </div>
</div>
