---
import { siteConfig } from '@/config/site'

import { cn } from '@/lib/utils'
import { buttonVariants } from '@/components/ui/button'

import { BoldIcon } from 'lucide-react'
---

<section id="hero" class="container py-12 sm:py-20 lg:py-20">
  <div class="flex flex-col items-center space-y-6 text-center">
    <a
      href={siteConfig.links.bezeq}
      class={cn(buttonVariants({ variant: 'outline', size: 'sm' }))}
      target="_blank"
    >
      <span class="ml-3"></span>
      专转 {' '}
      <BoldIcon className="mr-2 size-4" />
    </a>
    <h1
      class="font-heading text-balance text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
    >
      专 砖 -
      <span class="font-extrabold">爪 砖!</span>
    </h1>

    <p
      class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8"
    >
        专 专转, 驻 拽爪注  驻砖专转 砖转  转.
      砖注专 专  爪注专 砖转转   转.
    </p>

    <div class="flex justify-center gap-4">
      <a
        href="#testimonials"
        class={cn(
          buttonVariants({
            variant: 'outline',
            size: 'lg',
          }),
        )}
      >
        拽专转
      </a>
      <a href="#pricing" class={buttonVariants({ size: 'lg' })}> 专 </a>
    </div>
  </div>
</section>
