---
import { Image } from 'astro:assets'

const data = {
  title: 'כמה מילים על העסק',
  list: [
    {
      title: 'עזרה בלימוד תאוריה',
      description: 'יחס אישי, סבלנות, מקצועיות ואמינות לאורך כל הדרך.',
    },
    {
      title: 'לימוד נהיגה',
      description: 'שיעורים באוירה נינוחה וצעירה שמותאמת לכל אחד ואחת.',
    },
    {
      title: 'המרת רישיון',
      description:
        'המרת רישיון זר לישראלי, ריענון נהיגה, המרת רישיון אוטומטי לגיר ידני.',
    },
  ],
}
---

<div class="pt-16">
  <div
    class="mx-auto grid max-w-7xl gap-10 px-4 sm:gap-16 sm:px-6 lg:grid-cols-2 lg:items-center lg:px-8"
  >
    <div class="order-1">
      <h2
        class="text-3xl font-semibold text-foreground md:text-4xl lg:text-[40px]"
      >
        {data.title}
      </h2>
      <dl class="mt-10 space-y-4 leading-7">
        {
          data.list.map((item) => {
            return (
              <div class="relative pl-8">
                <dt class="font-semibold">
                  <span>{item.title}</span>
                </dt>
                <dd class="text-sm text-muted-foreground">
                  {item.description}
                </dd>
              </div>
            )
          })
        }
      </dl>
    </div>
    <div
      class="order-2 rounded-xl md:bg-muted/30 md:p-3 md:ring-1 md:ring-inset md:ring-border"
    >
      <div
        class="relative aspect-video overflow-hidden rounded-xl border md:rounded-lg"
      >
        <Image
          class="size-full object-cover object-center"
          src="/images/logo.png"
          alt="logo"
          width={1000}
          height={500}
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
