---
import MainLayout from '@/layouts/main-layout.astro'

import { DrivingStepper } from '@/components/driving-stepper'
---

<MainLayout title="ניר ליברמן - צעדים">
  <section id="hero" class="container py-12 sm:py-20">
    <div class="flex flex-col items-center space-y-6 text-center">
      <h1
        class="text-gradient text-balance text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl"
      >
        איך מתחילים שיעורים
      </h1>

      <p
        class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8"
      >
        בוא נתחיל במסע שלך לרישיון הנהיגה. כאן תמצא את כל הצעדים הנחוצים כדי
        להתחיל בביטחון.
      </p>
    </div>
  </section>
  <div class="container pb-12 sm:pb-20">
    <DrivingStepper client:load />
  </div>
</MainLayout>
