---
import MainLayout from '../layouts/Main.astro'

import HeroSection from '../components/sections/Hero.astro'
import FeaturesSection from '../components/sections/Features.astro'
---

<MainLayout>
  <div class="grainy-dark">
    <HeroSection />
  </div>

  <FeaturesSection />
</MainLayout>
