---
import { siteConfig } from '@/config/site'

import { Button } from '@/components/ui/button'
import { BoldIcon, MessageCircleIcon } from 'lucide-react'
import { ModeToggle } from './mode-toggle'
---

<footer>
  <div
    class="relative z-10 mx-auto overflow-hidden border border-b-0 border-border p-6"
  >
    <div class="flex flex-col gap-4">
      <div class="flex gap-2">
        <a target="_blank" rel="noreferrer" href={siteConfig.links.whatsapp}>
          <Button size="icon" variant="outline">
            <span class="sr-only">whatsapp</span>
            <MessageCircleIcon className="size-4" />
          </Button>
        </a>
        <a target="_blank" rel="noreferrer" href={siteConfig.links.bezeq}>
          <Button size="icon" variant="outline">
            <span class="sr-only">bezeq</span>
            <BoldIcon className="size-4" />
          </Button>
        </a>
      </div>
      <q>הדרך שלי - ההצלחה שלך</q>
      <div class="flex w-full items-center justify-between">
        <p class="text-sm leading-5 text-muted-foreground">
          © ניר ליברמן {new Date().getFullYear()}
        </p>
        <div class="flex gap-2">
          <ModeToggle />
        </div>
      </div>
    </div>
  </div>
</footer>
