---
import { siteConfig } from '@/config/site'

import { BoldIcon, MessageCircleIcon } from 'lucide-react'
import { Button } from './ui/button'
---

<footer>
  <div
    class="relative z-10 mx-auto overflow-hidden border border-b-0 border-muted p-6"
  >
    <div class="flex flex-col items-center gap-4 text-center">
      <div class="flex gap-2">
        <Button size="icon" variant="ghost" className="rounded-full">
          <a target="_blank" rel="noreferrer" href={siteConfig.links.whatsapp}>
            <MessageCircleIcon className="size-4" />
          </a>
        </Button>
        <Button size="icon" variant="ghost" className="rounded-full">
          <a target="_blank" rel="noreferrer" href={siteConfig.links.bezeq}>
            <BoldIcon className="size-4" />
          </a>
        </Button>
      </div>
      <p>לימוד נהיגה ברמה אחרת, באופן מקצועי ללא פשרות ובשיטת לימוד ייחודית.</p>
      <p class="text-sm leading-5 text-muted-foreground">
        © ניר ליברמן {new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
