---
import { CarIcon } from 'lucide-react'
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 items-center justify-between">
    <a href="#" class="flex items-center gap-2">
      <CarIcon className="size-8" />
      <span class="font-bold">ניר ליברמן</span>
    </a>
  </div>
</header>
