---
import Logo from '@/components/Logo.astro'
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 py-4 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <nav class="container flex h-14 items-center justify-between">
    <Logo />
  </nav>
</header>
