---
import '@/styles/globals.css'

import BaseHead from '@/components/base-head.astro'

type Props = {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="he" dir="rtl" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
